<!-- blog-nav -->
<nav class="bg-blog">
    <div class="container">
      <div class="row">
        <div class="col">
          <ul class="blog-nav d-flex">
            <div class="blog-nav-list d-flex">
              <li><a href="#">最新消息</a></li>
              <li class="ml-48"><a href="#">特別企劃</a></li>
              <li class="ml-48"><a href="#">新品上市</a></li>
              <li class="ml-48"><a href="#">鏡框小知識</a></li>
            </div>
            <div class="search-icon ml-auto">
              <a href="#"><img src="../assets/images/search.svg" alt="search icon"></a>
            </div>
          </ul>
        </div>
      </div>
    </div>
</nav>