<!-- frame -->
<nav class="frame-nav">
    <div class="container">
        <ul class="frame-item d-flex justify-content-center">
            <li class="default-border-bottom">
                <a href="optical.html">OPTICA</a>
            </li>
            <li>
                <a href="sunglasses.html">SUNGLASSES</a>
            </li>
            <li>
                <a href="#">FUNCTIONAL</a>
            </li>
        </ul>
    </div>
</nav>