<!-- header -->
<header class="header bg-header">
    <div class="container-full">
            <div class="header-content d-flex">
                <div class="header-img">
                    <a href="#"><img src="../assets/images/logo-white.png" alt="logo"></a>
                </div>
                <ul class="header-list d-flex"> 
                    <li class="item"><a class="p-12" href="#">系列鏡框</a></li>
                    <li class="item"><a class="p-12" href="#">門市據點</a></li>
                    <li class="item"><a class="p-12" href="#">部落格</a></li>
                    <li class="item"><a class="p-12" href="#">常見問題</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>