/* header */

.bg-header{
  background: $primary;
}

.header-content{
  justify-content: space-between;
  align-items: center;
}

.header-img img{
  padding: 12px 12px 12px 0px;
  width: 80px; 
}

.header-list .item{
  text-align: center;
  font-size: 20px;
  transition: 0.5s;
  margin-left: 52px;
  a{
    color: #FFF;
  }

}

.header-list .item:hover{
  font-weight: bold;
}

@include md{
  .header-list 
    .item{
       margin-left: 0px;
  }
    .border{
      padding: 12px;
    }
}

@include sm{
  .header{
    .container{
        padding: 0px;
    }
    .header-content{
        flex-direction: column;
        align-items: start;
    }
    .header-img img{
        padding: 12px;
    }
    .header-list{
        flex-wrap:wrap;
        width: 100%;
    }
    .header-list .item{
            font-size: 16px;
            border: 1px solid #FFF;
            padding: 12px 0px 12px 0px;
            width: 50%;
    }
  }
}