.paping{
    margin-bottom: 80px;
    
    a{
        border: 1px solid #555555;
        color:#555555;
        font-size: 19px;
    }
     
    a:first-child,a:last-child{
        // 需扣掉 border 1px
        padding: 10px 11px;
    }
    a:last-child{
        background: #F2F2F2;
    }
    a:nth-child(n+2):nth-child(-n+6){
        // 需扣掉 border 1px
        padding: 10px 15px;
    }
    a:nth-child(n+2):nth-child(-n+6):hover{
        color: #FFF;
        background: #000;
    }
}

@include lg{
    .paping{
        margin-top: 40px;
    }
}

@include sm{
    .paping{
        margin-bottom: 64px;
        a{
            font-size: 16px;
        }
    }
}