.bg-blog{
    background: $secondary;
    padding: 13px 0px;
}

.blog-nav a{
    color: #FFF;
    font-size: 20px;
} 

.blog-nav a:hover{font-weight: bold;}

.blog{
    .title h1{
        font-size: 48px;
        font-weight: bold;
        border-left: 8px solid #9F1213;
        padding-left: 16px;
        margin-top: 96px;
        margin-bottom: 32px;
    }
}

.blog-position{
    margin-bottom: 60px;
}

.blog-img{
    width: calc(50% - 12px);
    aspect-ratio: 1.6/1;
    img{
        width: 100%;
        height: 100%;
    }
}
.blog-card-position{
    flex-direction: column;
    height: 100%;
}

.blog-card{
    width: calc(50% - 12px);
    margin-left: auto;
}

.blog-card-title a{
    font-size: 32px;
    color: $secondary;
}

.blog-card-title a:hover{
    font-weight: bold;
}

.blog-desc{
    margin-bottom: 19px;
    h3{
        font-size: 20px;
        font-weight: 500;
    }
    time{
        font-weight: 500;
    }
}

.blog-body{
    font-size: 20px;
    color: #555555;
    a{
        color: #555555;
        display: none;
    }
}

.blog-more-link{
    margin-top: auto;
    text-align: right;
    a{
        color: $secondary;
        font-size: 36px;
        font-weight: 500;
    }
}

.blog-more-link a:hover{
    color: $primary;
    font-weight: bold;
}

@include lg{
    .blog-position{
        margin-bottom: 24px;
    }
    .blog-card-title a{
        font-size: 24px;
    }
    .blog-desc h3, .blog-body{
        font-size: 16px;
    }
    .blog-body{
        a{
            display: inline-block;
        }
    }
    .blog-more-link{
        display: none;
    }
}

@include md{
    .blog .title h1{
        font-size: 24px;
        margin-bottom: 24px;
    }
    .blog-body{
        display: none;
    }
    .blog-img{
        margin-bottom: 8px;
        width: 100%;
    }
    .blog-card{
        margin-left: 0px;
        width: 100%;
    }
    .blog-position{
        flex-direction: column;
    }
}