.blogpages a:hover{
    font-weight: bold;
}

.blogpages-list{
    width: calc(66.6666% - 48px);
}

.blogpages-list-link{
    margin-top: 24px;
    a{
        display: inline-block;
        color: black;
    }
    .current-page{
        color: $primary;
    }

}

.blogpages-list-tags{
    p{
        display: inline-block;
        color: $primary;
        font-size: 24px;
        font-weight: 500;
        margin-right: 15px;
    }
}

.blogpages-title{
    font-size: 48px;
}

.blogpages-desc{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}


.blogpages-img{
    aspect-ratio: 1.6/1;
}

.blogpages-body{
    color: #555555;
    margin-bottom: 40px;
}

.tags-list{
    margin-top: 100px;
    margin-left: 36px;
    font-size: 24px;
    color: $primary;
    span{
        margin-left: 24px;
    }
}

.tags-list-title{
    font-size: 32px;
    font-weight: bold;
    img{
        margin-right: 12px;
        margin-bottom: 3px;
        width: 38px;
        height: 28px;
    }
}

.share-link{
    padding-bottom: 20px;
    border-bottom: 1px solid #555555;
    align-items: center;
    p{
        font-weight: bold;
    }
    a{
        margin-left: 16px;
    }
}
.share-link img{transition: 0.2s;}
.share-link img:hover{
    transform: scale(1.1);
}

.change-page{
    margin-top: 30px;
    margin-bottom: 80px;
    justify-content: space-between;
    a{
        color: black;
    }
    img{
        margin-bottom: 2px;
        width: 16px;
        height: 16px;
    }
}

@include md{
    .tags-list, .tags-list-title{
        font-size: 16px;
    }
    .tags-list-title img{
        width: 19px;
        height: 14px;
        margin-right: 2px;
    }
}

@include sm{
    .tags-list, .share-link, .change-page{
        display: none;
    }
    .blogpages-list{
        width: 100%;
    }
    .blogpages-sm-display .blog-nav{
        a{
            font-size: 16px;
        }
        .search-icon img{
            display: none;
        }
        .ml-48{
            margin-left: 0px;
        }
// 當 .search-icon img {display: none} 避免空間留白影響美觀
        .blog-nav-list{
            width: 100%;
            justify-content: space-around;
        }
    } 
}
