// nav
.frame-nav .container{
    padding: 0px;
}

.frame-item {
    li{
        text-align: center;
        width: 432px;
        border-left: 1px solid #DCDCDC;
        border-right: 1px solid #DCDCDC;
        font-size: 32px;
        font-weight: 500;
    }
    a{
        color: black;
        padding: 24px 0px;
    }
}

.default-border-bottom{
    border-bottom: 8px solid $primary;
}

.frame-item li:hover{
    border-bottom: 8px solid $primary;
}

@include lg{
    .frame-item {
        li{
            max-width: calc(100% / 3);
            font-size: 24px;
        }
        a{
            padding: 16px 0px;
        }
    }
}

@include sm{
    .frame-item li{
        font-size: 16px;
    }
}
// banner
.optical-banner{
    width: 50%;
}
// item
.optical-item{ 
    .title{
        margin-top: 80px;
        font-size: 42px;
        font-weight: 500;
    }
    .desc{
        font-size: 32px;
        margin-bottom: 32px;
    }
    .card-list{
        justify-content: space-between;
    }
    .card{
        max-width: calc(25% - 12px);
        margin-bottom: 80px;
    }
    .model{
        font-size: 24px;
    }
    .price{
        font-size: 24px;
        font-weight: 500;
        color:$primary;
    }
    .style-cool-tone{
        display: inline-block;
        a{
            padding: 12px;
            background:$style-cool-tone;
        }
    }
    .style-warm-tone{
        display: inline-block;
        a{
            padding: 12px;
            background:$style-warm-tone;
        }
    }
    .paping{
        margin-bottom: 80px;
        
        a{
            border: 1px solid #555555;
            color:#555555;
            font-size: 19px;
        }
         
        a:first-child,a:last-child{
            // 需扣掉 border 1px
            padding: 10px 11px;
        }
        a:last-child{
            background: #F2F2F2;
        }
        a:nth-child(n+2):nth-child(-n+6){
            // 需扣掉 border 1px
            padding: 10px 15px;
        }
        a:nth-child(n+2):nth-child(-n+6):hover{
            color: #FFF;
            background: #000;
        }
    }
}

@include lg{
    .optical-item{ 
        .card-list{
            flex-wrap: wrap;
        }
        .card{
            max-width: calc(50% - 12px);
            margin-bottom: 40px;
        }
        .paping{
            margin-top: 40px;
        }
    }
}

@include sm{
    .optical-item{
        .title{
            margin-top: 40px;
        }
        .desc{
            margin-bottom: 24px;
        }
        .card{
            max-width: 100%;
            margin-bottom: 24px;
        }
        .paping{
            margin-bottom: 64px;
            a{
                font-size: 16px;
            }
        }
    }
}