.optical-banner{
    width: 50%;
}

.optical-item{ 
    .title{
        margin-top: 80px;
        font-size: 42px;
        font-weight: 500;
    }
    .desc{
        font-size: 32px;
        margin-bottom: 32px;
    }
    .card-list{
        justify-content: space-between;
    }
    .card{
        max-width: calc(25% - 12px);
        margin-bottom: 80px;
    }
    .model{
        font-size: 24px;
    }
    .price{
        font-size: 24px;
        font-weight: 500;
        color:$primary;
    }
    .style-cool-tone{
        display: inline-block;
        a{
            padding: 12px;
            background:$style-cool-tone;
        }
    }
    .style-warm-tone{
        display: inline-block;
        a{
            padding: 12px;
            background:$style-warm-tone;
        }
    }
}

@include lg{
    .optical-item{ 
        .card-list{
            flex-wrap: wrap;
        }
        .card{
            max-width: calc(50% - 12px);
            margin-bottom: 40px;
        }
    }
}

@include sm{
    .optical-item{
        .title{
            margin-top: 40px;
        }
        .desc{
            margin-bottom: 24px;
        }
        .card{
            max-width: 100%;
            margin-bottom: 24px;
        }
    }
}