.outlet-detail{
    // 加上 .card margin-bottom = 80px;
    padding-bottom: 32px;
    
    .title h1{
        font-size: 48px;
        font-weight: bold;
        border-left: 8px solid #9F1213;
        padding-left: 16px;
        margin-top: 96px;
        margin-bottom: 32px;
    }
    .city-item{
        display: flex;
        align-items: center;
        max-width: calc(33.3333% - 16px);
        margin-bottom: 40px;
    }
    label{
        font-size: 24px;
        width: calc(25% + 24px);
    }
    select{
        // 移除下拉選單箭頭樣式
        appearance:none;
        -moz-appearance:none;
        -webkit-appearance:none;
        // 修改箭頭樣式
        background: url("../images/caret-down-fill.svg") no-repeat 96% center transparent;
        color: #495057;
        opacity: 0.75;
        font-size: 18px;
        margin-left: auto;
        width: calc(75% - 24px);
        height: 38px;
        border: 1px solid #CED4DA;
        padding: 0px 12px;
    }

    .card{
        margin-bottom: 48px;
        max-width: calc(41.6666% - 12px);
        flex-direction: column;
    }
    .card-detail{
        margin-top: auto;
        width: 100%;
    }
    
    .card-detail a{
        padding: 16px 0px;
        background: #000;
        color: #FFF;
        border: 1px solid #00000020;
        font-size: 19px;  
    }
    .card-detail a:hover{
        font-weight: bold;
    }

    h2{
        border-bottom: 1px solid #00000020;
        color: #212529;
        font-size: 24px;
        padding: 8px 12px;
        margin-bottom: 16px;
    }
    .card-body{
        flex-direction: column;
        border: 1px solid #00000020;
        height: 100%;
        span{
            font-size: 20px;
            margin-left: 10px;
        }
        img{
            padding-bottom: 5px;
        }

    }
    .card-desc{
        padding: 0px 12px 8px 12px;
        a{color: #212529;}
        a:hover{
            font-weight: bold;
        }
    }
   
    .outlet-detail-map{
        border: 1px solid #CED4DA;
        width: 58.3333%;
        margin-left: auto;
        margin-bottom: 48px;
        img{
            height: 100%;
        }
    }
}

@include lg{
    .outlet-detail{
        .city-item{
            max-width: 50%;
        }
        select{
            width: 80%;
        }
        .layout{
            flex-direction: column;
            align-items: center;
        }
        .card{
            max-width: 100%;
            flex-direction: row;
            margin-bottom: 24px;
        }
        .card-img, .card-body{
            width: calc(50% - 12px);
        }
        .card-img img{
            height: 100%;
        }
        .card-body{
            margin-left: auto;
        }
        .outlet-detail-map{
            width: 100%;
            margin-left: 0px;
            img{
                width: 100%;
            }
        }
    }
}

@include md{
    .outlet-detail{
        label{
            font-size: 16px;
        }
        select{
            width: 90%;
        }
        .city-item{
            max-width: 100%;
        }
        .card{
            flex-direction: column;
            width: 100%;
        }
        .card-body, .card-img{
            margin-left: 0;
            width: 100%;
        }
    }
}
