<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>第四週主線任務-RWD-Vite-v1</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <%- include('./layout/blog-nav'); -%>
    <main class="blogpages">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="d-flex">
                        <ul class="blogpages-list">
                            <li class="blogpages-list-link">
                                <a href="#">首頁 / </a>
                                <a href="#">部落格 /</a>
                                <a href="#">特別企劃 /</a>
                                <a class="current-page" href="#">情人特別企劃</a>
                            </li>
                            <li class="blogpages-list-tags">
                                <p>#special</p>
                                <p>#event</p>
                            </li>
                            <li class="blogpages-title">
                                <h2>情人特別企劃</h2>
                            </li>
                            <li class="blogpages-desc">
                                <h3>2020 Valentine’s Special</h3>
                            </li>

                            <li class="blogpages-img">
                                <img src="../assets/images/blogpage-1.png" alt="blogpage-1 image">
                            </li>
                            <li class="blogpages-body">
                                <p>
                                    一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。 本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！
                                </p>
                            </li>

                            <li class="blogpages-img">
                                <img src="../assets/images/blogpage-2.png" alt="blogpage-2 image">
                            </li>
                            <li class="blogpages-body">
                                <p>
                                    一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。 本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！
                                </p>
                            </li>

                            <li class="blogpages-img">
                                <img src="../assets/images/blogpage-3.png" alt="blogpage-3 image">
                            </li>
                            <li class="blogpages-body">
                                <p>
                                    一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。 本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！
                                </p>
                            </li>

                            <li class="blogpages-img">
                                <img src="../assets/images/blogpage-4.png" alt="blogpage-4 image">
                            </li>
                            <li class="blogpages-body">
                                <p>
                                    2/14(五)-2/20(日) 至本店單筆消費滿2980元, 就送情人節限定眼鏡盒1個 期間優惠還有~~持他牌鏡框更換鏡片 薄型非球面鏡片折300元 濾藍光鏡片折500元 快快帶上另一半 讓彼此每一次睜開眼，都被愛的視線包圍!
                                </p>
                            </li>
                            <li class="share-link d-flex">
                                <p>Share</p>
                                <a href="#"><img src="../assets/images/logo-facebook.png" alt="facebook logo"></a>
                                <a href="#"><img src="../assets/images/logo-instagram.png" alt="instagram logo"></a>
                            </li>
                            <li class="change-page d-flex">
                                <a href="#"><img class="mr-12" src="../assets/images/arrow-left.png" alt="上一篇按鈕圖片">上一篇：街頭潮人訪問 1</a>
                                <a href="#">下一篇：街頭潮人訪問 2<img class="ml-12" src="../assets/images/arrow-right.png" alt="下一篇按鈕圖片"></a>
                            </li>
                        </ul>
                        <ul class="tags-list">
                            <li class="tags-list-title">
                                <p><img src="../assets/images/tags.png" alt="tags image">TAGS</p>
                            </li>
                            <li>
                                <p>#specialspan <span>#sale</span></p>
                            </li>
                            <li>
                                <p>#new_item<span>#interview</span></p>
                            </li>
                            <li>
                                <p>#trivia<span>#news</span></p>
                            </li>
                            <li><p>#event</p></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>