<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>第四週主線任務-RWD-Vite-v1</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  </head>
  <body>
    <%- include('./layout/header'); -%>
<!-- banner -->
    <div class="aos-overflow-hidden">
        <div class="banner bg-banner">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="title-banner text-align-right">
                            <p>Promise-Desert 2020 早春系列</p>
                            <h1 class="h1">看得清，才能看得遠</h1>
                            <a class="fs-20" href="#">立即購買</a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <!-- intro -->
            <div class="intro bg-light">
            <div class="container">
                <div class="row">
                    <div class="col d-flex flex-column align-items-center text-align-center">
                        <h2 class="h2">用專業的心，做專業的事</h2>
                        <ul class="intro-list d-flex flex-wrap justify-content-between" data-aos="fade-up"
                        data-aos-duration="500" data-aos-anchor-placement="center-bottom">
                            <li class="card">
                                <img src="../assets/images/home-section2-1.png" alt="section2-1 image">
                                <h3 class="h3">單一價格</h3>
                                <p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
                            </li>
                            <li class="card">
                                <img src="../assets/images/home-section2-2.png" alt="section2-2 image">
                                <h3 class="h3">20 分鐘即可取件</h3>
                                <p>為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
                            </li>
                            <li class="card">
                                <img src="../assets/images/home-section2-3.png" alt="section2-3 image">
                                <h3 class="h3">安心售後服務</h3>
                                <p>我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
                            </li>
                            <li class="card">
                                <img src="../assets/images/home-sectioin2-4.png" alt="section2-4 image">
                                <h3 class="h3">關於鏡片</h3>
                                <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            </div>
            <!-- classic  -->
            <div class="classic">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="classic-title text-align-center">
                            <h2 class="mb-48">經典系列鏡框</h2>
                        </div>
                        <ul class="classic-list d-flex justify-content-between" data-aos="fade-up"
                        data-aos-duration="500" data-aos-anchor-placement="center-bottom">
                            <li class="card">
                                <img src="../assets/images/home-section3-1.png" alt="section3-1 image">
                                <h3>OPTICAL</h3>
                            </li>
                            <li class="card">
                                <img src="../assets/images/home-section3-2.png" alt="section3-2 image">
                                <h3>SUNGLASSES</h3>
                            </li>
                            <li class="card">
                                <img src="../assets/images/home-section3-3.png" alt="section3-3 image">
                                <h3>FUNCTIONAL</h3>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            </div>
            <!-- co-branded -->
            <div class="co-branded bg-co-branded">
            <div class="container">
                <div class="row">
                    <div class="col d-flex flex-column align-items-center" data-aos="fade-up"
                    data-aos-duration="500" data-aos-anchor-placement="center-bottom">
                        <div class="title-co-branded">
                            <h2>聯名設計鏡框</h2>
                        </div>
                        <ul class="co-branded-list d-flex flex-wrap justify-content-center">
                            <li>
                                <img class="section4-1" src="../assets/images/home-section4-1.png" alt="home-section4-1">
                                <h2 class="text-align-center">DOUBLE A+</h2>
                            </li>
                            <li>
                                <img class="section4-2" src="../assets/images/home-section4-2.png" alt="home-section4-2">
                                <h2 class="text-align-center">YOUTH</h2>
                            </li>
                        </ul>
                    </div>
                </div> 
            </div>
            </div>
            <!-- recommend -->
            <div class="recommend">
            <div class="container">
                <div class="row title-recommend">
                    <div class="col d-flex flex-column align-items-center">
                        <div class="mb-48">
                            <h2>顧客推薦</h2>
                        </div>
                        <ul class="recommend-list d-flex justify-content-between">
                            <li class="card" data-aos="fade-right"
                            data-aos-duration="500" data-aos-anchor-placement="center-bottom">
                                <div class="card-body">
                                    <div class="card-desc">
                                        <img class="mb-16" src="../assets/images/home-section5-1.png" alt="home-section5-1 image">
                                        <h4>Jessy</h4>
                                        <p>眼鏡品質優良，下次還會想來這邊購買！</p>
                                    </div>
                                    <time class="date">2021/06/20</time>
                                </div>
                            </li>
                            <li class="card" data-aos="fade-left"
                            data-aos-duration="500" data-aos-anchor-placement="center-bottom">
                                <div class="card-body">
                                    <div class="card-desc">
                                        <img class="mb-16" src="../assets/images/home-section5-2.png" alt="home-section5-2 image">
                                        <h4>凱倫</h4>
                                        <p>做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
                                    </div>
                                    <time class="date">2021/04/18</time>
                                </div>
                            </li>
                            <li class="card" data-aos="fade-left"
                            data-aos-duration="500" data-aos-anchor-placement="center-bottom">
                                <div class="card-body">
                                    <div class="card-desc">
                                        <img class="mb-16" src="../assets/images/home-section5-3.png" alt="home-section5-3 image">
                                        <h4>悠悠</h4>
                                        <p>謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
                                    </div>
                                    <time class="date">2020/12/25</time>
                                </div>
                            </li>
                            <li class="card" data-aos="fade-right"
                            data-aos-duration="500" data-aos-anchor-placement="center-bottom">
                                <div class="card-body">
                                    <div class="card-desc">
                                        <img class="mb-16" src="../assets/images/home-section5-4.png" alt="home-section5-4 image">
                                        <h4>Kyuan</h4>
                                        <p>服務很好，品質沒有任何問題，非常喜歡。</p>
                                    </div>
                                    <time class="date">2020/10/31</time>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            </div>
            <!-- contact -->
            <div class="contact bg-light ptb-1">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col">
                        <div class="contact-content d-flex flex-column align-items-center">
                            <div class="title-contact">
                                <h2>聯絡我們</h2>
                            </div>
                            <form class="contact-list">
                                <p>我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>
                                <div class="contact-list-input d-block">
                                    <label for="name">姓名</label>
                                    <input type="text" id="name" name="name" placeholder="陳小明">
                                        
                                    <label for="number">聯絡電話</label>
                                    <input type="tel" id="number" name="number" placeholder="0912-345-678">

                                    <label for="email">電子郵件</label>
                                    <input type="email" id="email" name="email" placeholder="example@email.com">

                                    <label for="recommend">意見反應</label>
                                    <textarea name="recommend" id="recommend" cols="30" rows="10" placeholder="請輸入您的意見"></textarea>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" id="check" name="check" width="24" height="24">
                                    <label for="check">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label>
                                </div>
                                <button class="btn-submit" type="submit">確認送出</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  </body>
</html>
