<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>第四週主線任務-RWD-Vite-v1</title>
  </head>
  <body>
    
    <%- include('./layout/header'); -%>
    <%- include('./layout/frame'); -%>
<!-- banner -->
    <div class="optical-banner d-flex">
      <img src="../assets/images/product-header-1.png" alt="product-header-1 png">
      <img src="../assets/images/product-header-2.png" alt="product-header-2 png">
    </div>
<!-- optical-item -->
    <main class="optical-item">
      <div class="container">
        <div class="row">
          <div class="col optical text-align-center">
            <p class="title">Celluloid Combi</p>
            <p class="desc">賽璐珞鈦金屬混合鏡框</p>
            <ul class="d-flex justify-content-between mb-80">
              <li class="card">
                <img src="../assets/images/product-1.png" alt="product-1 png">
                <div class="d-flex justify-content-between">
                    <p class="model">BJ41600S</p>
                    <p class="price">NTD3,490</p>
                </div>
                <ul class="text-align-left">
                  <li class="style-cool-tone"><a href="#"></a></li>
                  <li class="style-warm-tone ml-8"><a href="#"></a></li>
                </ul>
              </li>
              <li class="card">
                <img src="../assets/images/product-2.png" alt="product-2 png">
                <div class="d-flex justify-content-between">
                    <p class="model">BJ41600S</p>
                    <p class="price">NTD3,490</p>
                </div>
                <ul class="text-align-left">
                  <li class="style-cool-tone"><a href="#"></a></li>
                  <li class="style-warm-tone ml-8"><a href="#"></a></li>
                </ul>
              </li>
              <li class="card">
                <img src="../assets/images/product-3.png" alt="product-3 png">
                <div class="d-flex justify-content-between">
                    <p class="model">BJ41600S</p>
                    <p class="price">NTD3,490</p>
                </div>
                <ul class="text-align-left">
                  <li class="style-cool-tone"><a href="#"></a></li>
                  <li class="style-warm-tone ml-8"><a href="#"></a></li>
                </ul>
              </li>
              <li class="card">
                <img src="../assets/images/product-4.png" alt="product-4 png">
                <div class="d-flex justify-content-between">
                    <p class="model">BJ41600S</p>
                    <p class="price">NTD3,490</p>
                </div>
                <ul class="text-align-left">
                  <li class="style-cool-tone"><a href="#"></a></li>
                  <li class="style-warm-tone ml-8"><a href="#"></a></li>
                </ul>
              </li>
             </ul> 

             <ul class="d-flex justify-content-between mb-80">
              <li class="card">
                <img src="../assets/images/product-5.png" alt="product-5 png">
                <div class="d-flex justify-content-between">
                    <p class="model">BJ41600S</p>
                    <p class="price">NTD3,490</p>
                </div>
                <ul class="text-align-left">
                  <li class="style-cool-tone"><a href="#"></a></li>
                  <li class="style-warm-tone ml-8"><a href="#"></a></li>
                </ul>
              </li>
              <li class="card">
                <img src="../assets/images/product-6.png" alt="product-6 png">
                <div class="d-flex justify-content-between">
                    <p class="model">BJ41600S</p>
                    <p class="price">NTD3,490</p>
                </div>
                <ul class="text-align-left">
                  <li class="style-cool-tone"><a href="#"></a></li>
                  <li class="style-warm-tone ml-8"><a href="#"></a></li>
                </ul>
              </li>
              <li class="card">
                <img src="../assets/images/product-1.png" alt="product-1 png">
                <div class="d-flex justify-content-between">
                    <p class="model">BJ41600S</p>
                    <p class="price">NTD3,490</p>
                </div>
                <ul class="text-align-left">
                  <li class="style-cool-tone"><a href="#"></a></li>
                  <li class="style-warm-tone ml-8"><a href="#"></a></li>
                </ul>
              </li>
              <li class="card">
                <img src="../assets/images/product-2.png" alt="product-2 png">
                <div class="d-flex justify-content-between">
                    <p class="model">BJ41600S</p>
                    <p class="price">NTD3,490</p>
                </div>
                <ul class="text-align-left">
                  <li class="style-cool-tone"><a href="#"></a></li>
                  <li class="style-warm-tone ml-8"><a href="#"></a></li>
                </ul>
              </li>
             </ul> 

             <ul class="d-flex justify-content-between mb-80">
              <li class="card">
                <img src="../assets/images/product-3.png" alt="product-3 png">
                <div class="d-flex justify-content-between">
                    <p class="model">BJ41600S</p>
                    <p class="price">NTD3,490</p>
                </div>
                <ul class="text-align-left">
                  <li class="style-cool-tone"><a href="#"></a></li>
                  <li class="style-warm-tone ml-8"><a href="#"></a></li>
                </ul>
              </li>
              <li class="card">
                <img src="../assets/images/product-4.png" alt="product-4 png">
                <div class="d-flex justify-content-between">
                    <p class="model">BJ41600S</p>
                    <p class="price">NTD3,490</p>
                </div>
                <ul class="text-align-left">
                  <li class="style-cool-tone"><a href="#"></a></li>
                  <li class="style-warm-tone ml-8"><a href="#"></a></li>
                </ul>
              </li>
              <li class="card">
                <img src="../assets/images/product-5.png" alt="product-5 png">
                <div class="d-flex justify-content-between">
                    <p class="model">BJ41600S</p>
                    <p class="price">NTD3,490</p>
                </div>
                <ul class="text-align-left">
                  <li class="style-cool-tone"><a href="#"></a></li>
                  <li class="style-warm-tone ml-8"><a href="#"></a></li>
                </ul>
              </li>
              <li class="card">
                <img src="../assets/images/product-6.png" alt="product-6 png">
                <div class="d-flex justify-content-between">
                    <p class="model">BJ41600S</p>
                    <p class="price">NTD3,490</p>
                </div>
                <ul class="text-align-left">
                  <li class="style-cool-tone"><a href="#"></a></li>
                  <li class="style-warm-tone ml-8"><a href="#"></a></li>
                </ul>
              </li>
             </ul> 

             <ul class="d-flex justify-content-between mb-80">
              <li class="card">
                <img src="../assets/images/product-1.png" alt="product-1 png">
                <div class="d-flex justify-content-between">
                    <p class="model">BJ41600S</p>
                    <p class="price">NTD3,490</p>
                </div>
                <ul class="text-align-left">
                  <li class="style-cool-tone"><a href="#"></a></li>
                  <li class="style-warm-tone ml-8"><a href="#"></a></li>
                </ul>
              </li>
              <li class="card">
                <img src="../assets/images/product-2.png" alt="product-2 png">
                <div class="d-flex justify-content-between">
                    <p class="model">BJ41600S</p>
                    <p class="price">NTD3,490</p>
                </div>
                <ul class="text-align-left">
                  <li class="style-cool-tone"><a href="#"></a></li>
                  <li class="style-warm-tone ml-8"><a href="#"></a></li>
                </ul>
              </li>
              <li class="card">
                <img src="../assets/images/product-3.png" alt="product-3 png">
                <div class="d-flex justify-content-between">
                    <p class="model">BJ41600S</p>
                    <p class="price">NTD3,490</p>
                </div>
                <ul class="text-align-left">
                  <li class="style-cool-tone"><a href="#"></a></li>
                  <li class="style-warm-tone ml-8"><a href="#"></a></li>
                </ul>
              </li>
              <li class="card">
                <img src="../assets/images/product-4.png" alt="product-4 png">
                <div class="d-flex justify-content-between">
                    <p class="model">BJ41600S</p>
                    <p class="price">NTD3,490</p>
                </div>
                <ul class="text-align-left">
                  <li class="style-cool-tone"><a href="#"></a></li>
                  <li class="style-warm-tone ml-8"><a href="#"></a></li>
                </ul>
              </li>
             </ul>
             
             <ul class="paping d-flex justify-content-center align-items-center">
              <li><a href="#"></a>上一頁</li>
              <li><a href="#"></a>1</li>
              <li><a href="#"></a>2</li>
              <li><a href="#"></a>3</li>
              <li><a href="#"></a>4</li>
              <li><a href="#"></a>5</li>
              <li><a href="#"></a>下一頁</li>
             </ul>

          </div>
        </div>
      </div>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>