<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>第四週主線任務-RWD-Vite-v1</title>
  </head>
  <body>
    
    <%- include('./layout/header'); -%>
    <div class="outlet">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="title">
              <h1>門市據點</h1>
            </div>
            <div class="city-item">
              <label for="city">選擇地區</label>
              <select name="city" id="city">
                <option value="Taipei">台北市</option>
                <option value="Taichung">台中市</option>
                <option value="Kaohsiung">高雄市</option>
              </select>
            </div>
            <ul class="row card-list d-flex">
<!-- 台北中山旗艦店 -->
              <li class="col card">
                <img src="../assets/images/store-1.png" alt="store-1 image">
                <h2>台北中山旗艦店</h2>
                <ul class="card-body">
                  <li>
                    <a href="#"><img src="../assets/images/store-phone.png" width=20 height=100% alt="phone image"><span>電話：(02)000-1234</span></a>
                  </li>
                  <li><img src="../assets/images/store-time.png" width=20 height=20 alt="time image"><span>營業時間：10:00-21:00</span></li>
                  <li><img src="../assets/images/store-map.png" width=20 height=20 alt="map image"><span>地址：台北市中山區南京東路25巷2-1號</span></li>
                </ul>
                <div class="card-detail text-align-center">
                  <a href="#">詳細資訊</a>
                </div>
              </li>
<!-- 台北綠園店 -->
              <li class="col card">
                <img src="../assets/images/store-2.png" alt="store-2 image">
                <h2>台北綠園店</h2>
                <ul class="card-body">
                  <li>
                    <a href="#"><img src="../assets/images/store-phone.png" width=20 height=100% alt="phone image"><span>電話：(02)000-2345</span></a>
                  </li>
                  <li><img src="../assets/images/store-time.png" width=20 height=20 alt="time image"><span>營業時間：10:00-21:00</span></li>
                  <li><img src="../assets/images/store-map.png" width=20 height=20 alt="map image"><span>地址：台北市中正區復興南路 132-1 號</span></li>
                </ul>
                <div class="card-detail text-align-center">
                  <a href="#">詳細資訊</a>
                </div>
              </li>
<!-- 台中清水旗艦店 -->
              <li class="col card">
                <img src="../assets/images/store-3.png" alt="store-3 image">
                <h2>台中清水旗艦店</h2>
                <ul class="card-body">
                  <li>
                    <a href="#"><img src="../assets/images/store-phone.png" width=20 height=100% alt="phone image"><span>電話：(02)000-1234</span></a>
                  </li>
                  <li><img src="../assets/images/store-time.png" width=20 height=20 alt="time image"><span>營業時間：10:00-21:00</span></li>
                  <li><img src="../assets/images/store-map.png" width=20 height=20 alt="map image"><span>地址：台中市清水區經南一路 23 號 8 樓</span></li>
                </ul>
                <div class="card-detail text-align-center">
                  <a href="#">詳細資訊</a>
                </div>
              </li>
<!-- 高雄中正形象店 -->
              <li class="col card">
                <img src="../assets/images/store-4.png" alt="store-4 image">
                <h2>高雄中正形象店</h2>
                <ul class="card-body">
                  <li>
                    <a href="#"><img src="../assets/images/store-phone.png" width=20 height=100% alt="phone image"><span>電話：(07)000-2345</span></a>
                  </li>
                  <li><img src="../assets/images/store-time.png" width=20 height=20 alt="time image"><span>營業時間：10:00-21:00</span></li>
                  <li><img src="../assets/images/store-map.png" width=20 height=20 alt="map image"><span>地址：高雄市苓雅區中正路 38 號 12 樓</span></li>
                </ul>
                <div class="card-detail text-align-center">
                  <a href="#">詳細資訊</a>
                </div>
              </li>
<!-- 高雄夢時代店 -->
              <li class="col card">
                <img src="../assets/images/store-5.png" alt="store-5 image">
                <h2>高雄夢時代店</h2>
                <ul class="card-body">
                  <li>
                    <a href="#"><img src="../assets/images/store-phone.png" width=20 height=100% alt="phone image"><span>電話：(02)000-1234</span></a>
                  </li>
                  <li><img src="../assets/images/store-time.png" width=20 height=20 alt="time image"><span>營業時間：10:00-21:00</span></li>
                  <li><img src="../assets/images/store-map.png" width=20 height=20 alt="map image"><span>地址：高雄市前鎮區中華一路 63 號 6 樓</span></li>
                </ul>
                <div class="card-detail text-align-center">
                  <a href="#">詳細資訊</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>