<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>第四週主線任務-RWD-Vite-v1</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
<!-- frame -->
<nav class="frame-nav">
  <div class="container">
      <ul class="frame-item d-flex justify-content-center">
          <li>
              <a href="optical.html">OPTICA</a>
          </li>
          <li class="default-border-bottom">
              <a href="sunglasses.html">SUNGLASSES</a>
          </li>
          <li>
              <a href="#">FUNCTIONAL</a>
          </li>
      </ul>
  </div>
</nav>
<!-- banner -->
    <div class="sunglasses-banner d-flex">
      <img src="../assets/images/product-header-3.png" alt="product-header-3 png">
      <img src="../assets/images/product-header-4.png" alt="product-header-4 png">
    </div>
<!-- sunglasses-item -->
<main class="sunglasses-item">
  <div class="container">
    <div class="row">
      <div class="col sunglasses text-align-center">
        <p class="title">2020 NEW COLLECTION</p>
        <p class="desc">賽璐珞鈦金屬混合鏡框</p>
        <ul class="card-list d-flex">
          <li class="card">
            <a href="#">
              <img src="../assets/images/product-7.png" alt="product-7 png">
            </a>
            <div class="d-flex justify-content-between">
                <p class="model">BJ41600S</p>
                <p class="price">NTD3,490</p>
            </div>
            <ul class="text-align-left">
              <li class="style-cool-tone"><a href="#"></a></li>
              <li class="style-warm-tone ml-8"><a href="#"></a></li>
            </ul>
          </li>
          <li class="card">
            <a href="#">
              <img src="../assets/images/product-8.png" alt="product-8 png">
            </a>
            <div class="d-flex justify-content-between">
                <p class="model">BJ41600S</p>
                <p class="price">NTD3,490</p>
            </div>
            <ul class="text-align-left">
              <li class="style-cool-tone"><a href="#"></a></li>
              <li class="style-warm-tone ml-8"><a href="#"></a></li>
            </ul>
          </li>
          <li class="card">
            <a href="#">
              <img src="../assets/images/product-9.png" alt="product-9 png">
            </a>
            <div class="d-flex justify-content-between">
                <p class="model">BJ41600S</p>
                <p class="price">NTD3,490</p>
            </div>
            <ul class="text-align-left">
              <li class="style-cool-tone"><a href="#"></a></li>
              <li class="style-warm-tone ml-8"><a href="#"></a></li>
            </ul>
          </li>
          <li class="card">
            <a href="#">
              <img src="../assets/images/product-10.png" alt="product-10 png">
            </a>
            <div class="d-flex justify-content-between">
                <p class="model">BJ41600S</p>
                <p class="price">NTD3,490</p>
            </div>
            <ul class="text-align-left">
              <li class="style-cool-tone"><a href="#"></a></li>
              <li class="style-warm-tone ml-8"><a href="#"></a></li>
            </ul>
          </li>
          <li class="card">
            <a href="#">
              <img src="../assets/images/product-11.png" alt="product-11 png">
            </a>
            <div class="d-flex justify-content-between">
                <p class="model">BJ41600S</p>
                <p class="price">NTD3,490</p>
            </div>
            <ul class="text-align-left">
              <li class="style-cool-tone"><a href="#"></a></li>
              <li class="style-warm-tone ml-8"><a href="#"></a></li>
            </ul>
          </li>
          <li class="card">
            <a href="#">
              <img src="../assets/images/product-12.png" alt="product-12 png">
            </a>
            <div class="d-flex justify-content-between">
                <p class="model">BJ41600S</p>
                <p class="price">NTD3,490</p>
            </div>
            <ul class="text-align-left">
              <li class="style-cool-tone"><a href="#"></a></li>
              <li class="style-warm-tone ml-8"><a href="#"></a></li>
            </ul>
          </li>
         </ul>
      </div>
    </div>
  </div>
</main>
    <%- include('./layout/paping'); -%>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>